@{
    ViewData["Title"] = "Home Page";
    @model EstateWeb.Models.ResponseModels.IndexNewsModel;
}
<div class="container">



    <!-- Content here -->
    <br />
    <div class="row">
        <img src="https://i.pinimg.com/originals/49/c5/80/49c580f09a51e3592c72f17296310392.jpg" class="img-fluid" alt="Responsive image" width="9999">
    </div>
    <br />
    <div class="form-group row" , style="background-color:darkslategrey">
        <label for="staticEmail" class="col-sm-2 col-form-label"><span class="text-white">Phim Mới</span></label>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://cdn2.iconfinder.com/data/icons/creative-icons-2/64/ACTION-512.png" class="rounded float-left" alt="..." width="100%">
        </div>
        <div class="col-md-3">
            <img src="https://cdn2.iconfinder.com/data/icons/creative-icons-2/64/ACTION-512.png" class="rounded float-left" alt="..." width="100%">
        </div>

        <div class="col-md-3">
            <img src="https://cdn2.iconfinder.com/data/icons/creative-icons-2/64/ACTION-512.png" class="rounded float-left" alt="..." width="100%">
        </div>

        <div class="col-md-3">
            <img src="https://cdn2.iconfinder.com/data/icons/creative-icons-2/64/ACTION-512.png" class="rounded float-left" alt="..." width="100%">
        </div>
    </div>
    <br />
    <div class="form-group row" , style="background-color:darkslategrey">
        <label for="staticEmail" class="col-sm-2 col-form-label"><span class="text-white">Sự Kiện</span></label>
    </div>
    <iframe src='https://webchat.botframework.com/embed/botfilm1?s=Iu8N2pHAOfM.mZUJRTf0QpvHAFig0jahAkQQ4GsYZocey5wPg4B3U-Y' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

</div>
